
@{
    ViewBag.Title = "Tinmoi";
    Layout = "~/Views/Classes/MyClass.cshtml";
}

<style>
    .body_tbmoi {
        width: 60%;
        height: 100px;
        margin: auto;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
</style>
<div class="body_tbmoi">
    <h2>Nội dung bài muốn đăng</h2>
</div>

