@using Lecturers
@model Lecturers.classModel.RegisterUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Form Responsive Widget Template:: W3layouts</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="login form responsive widget,login form widgets, sign up web forms , login signup responsive web form,flat pricing table,flat drop downs,registration forms,news letter forms,elements" />
    <script type="application/x-javascript">
         addeventlistener("load", function() { settimeout(hideurlbar, 0); }, false);
        function hideurlbar(){ window.scrollto(0,1); } </script>

    <link href="/smartlogin/css/style.css" rel="stylesheet" type="text/css" media="all">

    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900iSlabo+27px&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<style>
    .mains {
        width: 25%;
        left: 35%;
    }
    .logos{
        width: 60%;
           margin:auto;
    }
    .logos img  {
        width: 100%;
        height: auto;
    }
    
</style>
<body>
    <div class="body" style="left:20%;">

        <img src="~/Image/background.jpg" />


        <div class="main mains">
            <div class="headers">
                <a class="fass" href="/Users/home"><i class="fas fa-arrow-left"></i></a>


            </div>
            <div class="logos">
                <img src="~/Image/logos.png" />
            </div>

            <div class="form-group-body" style="text-align:center;">
                <h2 style="margin:20px auto;">Đăng ký thành công</h2>
                <p>Chúc mừng bạn đã đăng ký tài khoản thành công. Cảm ơn bạn  đã tin tưởng và sử dụng!</p>

            </div>
            <div class="center">
                <a href="/Users/Login"><input class="submit" type="submit" value="Login Now" name="Login "></a>
                
            </div>
                

            </div>
        </div>


</body>
</html>




